.sneakers-pickup1{
    width: 400px;
    height: 300px;
}

.sneakers-pickup2{
  width: 400px;
  height: 300px;
}

.sneakers-pickup3{
  width: 400px;
  height: 300px;
}

.sneakers-pickup4{
  width: 400px;
  height: 300px;
}

.sneakers-pickup5{
  width: 400px;
  height: 300px;
}

.sneakers-pickup6{
  width: 400px;
  height: 300px;
}

.sneakers-pickup7{
  width: 400px;
  height: 300px;
}

.sneakers-pickup8{
  width: 400px;
  height: 300px;
}

.sneakers-pickup9{
  width: 400px;
  height: 300px;
}